html { -webkit-text-size-adjust: 100%; }
pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { display: inline-block; line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
  { counter-reset: source-line 0; }
pre.numberSource code > span
  { position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
  { content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    background-color: #2e3440;
    color: #4c566a;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #4c566a;  padding-left: 4px; }
div.sourceCode
  { color: #d8dee9; background-color: #2e3440; }
@media screen {
pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
code span { color: #d8dee9; } /* Normal */
code span.al { color: #bf616a; background-color: #3b4252; } /* Alert */
code span.an { color: #d08770; } /* Annotation */
code span.at { color: #8fbcbb; } /* Attribute */
code span.bn { color: #b48ead; } /* BaseN */
code span.bu { color: #88c0d0; } /* BuiltIn */
code span.cf { color: #81a1c1; } /* ControlFlow */
code span.ch { color: #ebcb8b; } /* Char */
code span.cn { color: #eceff4; } /* Constant */
code span.co { color: #616e88; } /* Comment */
code span.cv { color: #e5e9f0; } /* CommentVar */
code span.do { color: #5e81ac; } /* Documentation */
code span.dt { color: #81a1c1; } /* DataType */
code span.dv { color: #b48ead; } /* DecVal */
code span.er { color: #bf616a; text-decoration: underline; } /* Error */
code span.ex { color: #8fbcbb; } /* Extension */
code span.fl { color: #b48ead; } /* Float */
code span.fu { color: #88c0d0; } /* Function */
code span.im { color: #a3be8c; } /* Import */
code span.in { color: #ebcb8b; } /* Information */
code span.kw { color: #81a1c1; } /* Keyword */
code span.op { color: #81a1c1; } /* Operator */
code span.ot { color: #8fbcbb; } /* Other */
code span.pp { color: #5e81ac; } /* Preprocessor */
code span.re { color: #88c0d0; background-color: #3b4252; } /* RegionMarker */
code span.sc { color: #ebcb8b; } /* SpecialChar */
code span.ss { color: #d08770; } /* SpecialString */
code span.st { color: #a3be8c; } /* String */
code span.va { color: #5e81ac; } /* Variable */
code span.vs { color: #8dae70; } /* VerbatimString */
code span.wa { color: #bf616a; } /* Warning */
